@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

body {
  background-color: #0c0a21;
  background-color: #040221;
  font-family: 'DM Sans', sans-serif;
  color: #bcbad1;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}